<div class="jumbotron text-center">
  <h1>Welcome to my Recipes App</h1>
  <h2>This is the home page for the ruby on rails course</h2>
  <%= link_to "Sign Up Now!", "", class:"btn btn-lg btn-success" %>
</div>

<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">View as guest user</h3>
    <h2 class="left">Browser recipes as guest and sign up later</h2>
    <p><%= link_to "Browser Recipe Listings", "", class: "btn btn-warning btn-small"%></p>
  </div>

  <div class="col-lg-4">
    <h3 class="midrow">View as guest user</h3>
    <h2 class="left">Browser recipes as guest and sign up later</h2>
    <p><%= link_to "Browser Recipe Listings", "", class: "btn btn-warning btn-small"%></p>
  </div>

  <div class="col-lg-4">
    <h3 class="midrow">View as guest user</h3>
    <h2 class="left">Browser recipes as guest and sign up later</h2>
    <p><%= link_to "Browser Recipe Listings", "", class: "btn btn-warning btn-small"%></p>
  </div>
</div>
